# Main app config
KBOT_SERVICE_NAME="kbot_main"
KBOT_HOST="0.0.0.0"
KBOT_PORT=8000
KBOT_IP="172.21.158.55"
KBOT_AUTH_ENCRYPTION_KEY="aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789+ab="
KBOT_AUTH_EXPIRE_MINUTES=600

ENVIRONMENT="production"
CONFIG_DIR="/home/chris/kbot3/core/config"