# Main app config
KBOT_IP=192.168.1.1
KBOT_PORT=8000
KBOT_AUTH_ENCRYPTION_KEY="aBcDeFgHiJkLmNoPqRsTuVwXyZ0123456789+ab="
KBOT_AUTH_EXPIRE_MINUTES=600

ENVIRONMENT="development"
CONFIG_DIR="/home/ubuntu/kbot3/configuration"

TESSDATA_PREFIX="/home/ubuntu/miniconda3/envs/kbot3/share/"