[default]
#####    vector db 

ADW_VECTOR_SEARCH_USER = "vector_dev"
ADW_VECTOR_SEARCH_PASSWORD = "inputyourSecret##"
ADW_VECTOR_SEARCH_DSN = "inputyourSecret"
ADW_VECTOR_SEARCH_WALLET_LOCATION = "/home/ubuntu/kbot/keys/adwvectordb"  # Wallet zip文件解压缩后的目录
ADW_VECTOR_SEARCH_WALLET_PASSWORD = "inputyourSecret##"


ORACLE_AI_VECTOR_CONNECTION_STRING="vector_dev/inputyourSecret#_123@165.1.65.228:1521/kinputyourSecretm@xxxx"


OCI_OPEN_SEARCH_URL="https://localhost:9200"
OCI_OPEN_SEARCH_USER='admin'
OCI_OPEN_SEARCH_PASSWD='inputyourSecret'


HEATWAVE_CONNECTION_PARAMS.user = "admin"
HEATWAVE_CONNECTION_PARAMS.password = "inputyourSecret##"
HEATWAVE_CONNECTION_PARAMS.host = "192.9.158.173"
HEATWAVE_CONNECTION_PARAMS.database = "kbot_dev"
HEATWAVE_VECTOR_STORE_POOL_NAME = "heatwave_vectorstore_pool"
HEATWAVE_VECTOR_STORE_POOL_SIZE = 6


###########   llm 
cohere_api_key='inputyourSecret'
openai_key='sk-inputyourSecret'
zhipu_api_key='inputyourSecret.inputyourSecret'
qwen_api_key='sk-inputyourSecret'
hunyuan_api_key='sk-inputyourSecret'
deepseek_api_key='sk-inputyourSecret'


######  讯飞星火模型key配置 ######
xinghuo_appid="inputyourSecret"
xinghuo_api_secret='inputyourSecret'
xinghuo_api_key='inputyourSecret'
#用于配置大模型版本，默认“general/generalv2”
xinghuo_domain = "generalv3"
#云端环境的服务地址
xinghuo_spark_url = "ws://spark-api.xf-yun.com/v3.1/chat"


######  千帆模型key配置 ######
qianfan_ak="inputyourSecret"
qianfan_sk="inputyourSecret"
