pypdf==3.12.1
faiss-cpu==1.7.4
faiss-gpu==1.7.2
fastapi
sentence-transformers==2.2.2
torch==2.3.0
lazy-load==0.8.3
transformers
uvicorn==0.22.0
python-multipart==0.0.6
accelerate
oci
httpx
FlagEmbedding
pycryptodome
flashrank
opensearch-py
langchain
langchain-openai==0.1.8
langchain_community==0.2.6
beautifulsoup4
websocket-client
zhipuai
docx2txt
html2text
cohere
dashscope
urlextract
oracledb
oracle-ads
loguru
unstructured[all-docs]
paddlepaddle
paddleocr
qianfan
jieba==0.42.1
mysql-connector-python
graphrag
shortuuid
redis
peft