dynaconf==3.2.11
loguru==0.7.3
oracledb==3.3.0
pydantic==2.11.7
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
toml==0.10.2
cohere==5.16.1
huggingface-hub==0.33.2
jieba==0.42.1
Jinja2==3.1.6
openai==1.93.0
prometheus_client==0.22.1
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
fastapi==0.115.13
aiohttp==3.12.13
numpy==2.3.1
spacy==3.8.7
transformers==4.53.1
uvicorn==0.34.3
pdfplumber==0.11.7
pdfminer.six==20250506
pillow==11.3.0
pandas==2.3.1
anthropic==0.57.1
python-multipart==0.0.20
pdf2image==1.17.0
PyPDF2==3.0.1
humanfriendly==10.0
python-jose==3.5.0
passlib==1.7.4
einops==0.8.1
accelerate==1.10.0
flash-attn==2.8.3
fasttext==0.9.3
openpyxl==3.1.5
markdown==3.8.2
beautifulsoup4==4.13.5
lxml==6.0.1
oci==2.158.0
python-docx==1.2.0
python-pptx==1.0.2
mammoth==1.11.0
elasticsearch==9.1.1
fastapi_offline==1.7.5
fastapi-mcp==0.4.0
mcp==1.19.0
chardet==5.2.0
langid==1.1.6
scikit-learn==1.7.1
