# Required Config (Must be set)
# Database Config 
[development]
debug = true
KBOT_DATABASE_URL=oracle+oracledb://user:password@host:port/service_name  # Database connection string

[production]
debug = false
KBOT_DATABASE_URL=oracle+oracledb://user:password@host:port/service_name  # Database connection string
