# The following configurations must be set. The system will first read from environment variables, and then from the secret file.
# Rename this file to ​**.secret.toml**​ for the changes to take effect.
# 以下配置必须设置，系统优先读取环境变量，然后是该secret文件。将该文件重命名为.secret.toml即可生效。

# Database Config 
[development]
database.url=oracle+oracledb://user:password@host:port/service_name  # Database connection string

[production]
database.url=oracle+oracledb://user:password@host:port/service_name  # Database connection string
