[default]
app.name = "KBOT"
app.description = "KBot API Service"
app.version = "3.0.0"
app.debug = true

# database connection pool configuration
database.echo = true
database.pool_size = 5
database.max_overflow = 10
database.pool_pre_ping = false
database.pool_recycle = 3600

# logger configuration
logger.level = "DEBUG"
logger.dir = "logs/"
logger.rotation = "100 MB"
logger.retention = "10 days"

# embedding configuration
embed.max_workers = 1
embed.check_interval = 60 # seconds
embed.batch_size = 2 # 0 means auto detected by the system
embed.max_tokens = 2048
embed.timeout = 120 # seconds
embed.max_retries = 3

# knowledge base configuration
kbot.file_root_path = "/your_path"
kbot.parallel_workers = 10