# core/config/base.toml
[app]
title = "KBOT"
description = "KBot API Service"
version = "3.0.0"
debug = true
file_storage = "/home/ubuntu/kbot3/knowledge_base"
upload_workers = 10
parser_workers = 2
parser_check_interval = 120

[app.log]
level = "DEBUG"
dir = "/home/ubuntu/kbot3/logs/"
rotation = "100 MB"
retention = "10 days"
api_log_enabled = true

[oracle]
username = "kbot"
password = "password"
host = "localhost"
port = 1521
service_name = "servicename"

[sqlalchemy]
echo = false
pool_size = 10
pool_timeout = 60
max_overflow = 20
pool_pre_ping = true
pool_use_lifo = true
pool_recycle = 1800

[eslog]
hosts = ["http://localhost:9201"]
username = "elastic"
password = "KsVEZ-KhNMVi9HHdjyTx"
index = "filebeat-kblogs-*"

[embed]
service_name = "embedding-service"
service_version = "1.0.0"
service_host = "0.0.0.0"
service_port = 18091
max_tokens = 8192
timeout = 300
max_retries = 3
cache_dir = "/home/ubuntu/cached_models/"

[llm]
service_name = "llm-service"
service_version = "1.0.0"
service_host = "0.0.0.0"
service_port = 18092
max_tokens = 8192
temperature = 0.7
top_p = 1.0
top_k = 0
timeout = 300
frequency_penalty = 0.0
presence_penalty = 0.0

[reranker]
service_name = "reranker-service"
service_version = "1.0.0"
service_host = "0.0.0.0"
service_port = 18093
cache_dir = "/home/ubuntu/cached_models/"
timeout = 300

[vlm]
service_name = "vlm-service"
service_version = "1.0.0"
service_host = "0.0.0.0"
service_port = 18094
timeout = 300

[parser]
service_name = "parser-service"
service_version = "1.0.0"
service_host = "0.0.0.0"
service_port = 18095
timeout = 300

[parser.tokenizer]
en = "/home/ubuntu/models/embedding/bge-small-en-v1.5"
zh = "/home/ubuntu/models/embedding/bge-base-zh-v1.5"

[jieba]
custom_dict_path = "/home/ubuntu/kbot3/configuration/custom_dict.txt"
stop_words_path = "/home/ubuntu/kbot3/configuration/stopwords.txt"

[prompt]
image2text = "SYSTEM/image2text"
summary = "SYSTEM/summary"