{
  "oracle": {
    "username": "kbot",
    "password": "oracle",
    "host": "localhost",
    "port": 1521,
    "service_name": "kbotdev"
  },
  "redis": {
    "password": "welcome1",
    "host": "localhost",
    "port": 6379,
    "max_connections": 10,
    "socket_connect_timeout": 3,
    "socket_timeout": 5,
    "retry_on_timeout": true,
    "health_check_interval": 30
  },
  "sqlalchemy": {
    "echo": false,
    "pool_size": 10,
    "pool_timeout": 60,
    "max_overflow": 20,
    "pool_pre_ping": true,
    "pool_use_lifo": true,
    "pool_recycle": 1800
  },
  "eslog": {
    "hosts": [
      "https://localhost:9201"
    ],
    "username": "elastic",
    "password": "KsVEZ-KhNMVi9HHdjyTx",
    "ca_certs": "/home/chris/http_ca.crt",
    "index": "filebeat-*"
  }
}