{
  "embed": {
    "service_name": "embedding-service",
    "service_version": "1.0.0",
    "service_host": "0.0.0.0",
    "service_port": 9901,
    "max_tokens": 8192,
    "timeout": 300,
    "max_retries": 3,
    "cache_dir": "/your/path/cached_models/"
  },
  "llm": {
    "service_name": "llm-service",
    "service_version": "1.0.0",
    "service_host": "0.0.0.0",
    "service_port": 9902,
    "max_tokens": 8192,
    "temperature": 0.7,
    "top_p": 1.0,
    "top_k": 0,
    "timeout": 300,
    "frequency_penalty": 0.0,
    "presence_penalty": 0.0
  },
  "reranker": {
    "service_name": "reranker-service",
    "service_version": "1.0.0",
    "service_host": "0.0.0.0",
    "service_port": 9903,
    "cache_dir": "/your/path/cached_models/",
    "timeout": 300
  },
  "vlm": {
    "service_name": "vlm-service",
    "service_version": "1.0.0",
    "service_host": "0.0.0.0",
    "service_port": 9904,
    "timeout": 300
  },
  "tokenizer": {
    "custom_dict_path": "/your/path/kbot3/configuration/custom_dict.txt",
    "stop_words_path": "/your/path/kbot3/configuration/stopwords.txt"
  },
  "synonym": {
    "service_name": "synonym-service",
    "service_version": "1.0.0",
    "service_host": "0.0.0.0",
    "service_port": 9905,
    "timeout": 300,
    "model_path": "/your/path/cached_models/cc.zh.300.bin",
    "top_n_words": 50000,
    "preload_top": 1000
  },
  "prompt": {
    "image2text": "SYSTEM/image2text",
    "summary": "SYSTEM/summary"
  }
}