# 版本设置
ELASTIC_STACK_VERSION=9.1.5

# 安全设置（请务必修改为强密码）
ELASTIC_PASSWORD=KsVEZ-KhNMVi9HHdjyTx
ES_JAVA_OPTS="-Xms1024m -Xmx1024m"
KIBANA_SERVICE_ACCOUNT_TOKEN=AAEAAWVsYXN0aWMva2liYW5hL2tib3QtdG9rZW46MENwTUFtRTZRcEdTNXh2cl9ZNkR6dw

# 端口设置
ES_PORT=9201
KIBANA_PORT=5601

# 数据目录
ESLOG_DATA=/home/chris/elk-stack/data/eslog-data
FILEBEAT_DATA=/home/chris/elk-stack/data/filebeat-data

# 日志目录
KB_LOGS=/home/chris/kbot3/logs

